/************** BOOTSTRAP HACKS ************* */

.form-group {
  input {
  border-radius: inherit;
  border: none;
  }
  label {
    font-weight: normal;
  }
}

.full-width {
  width: 100%;
  max-width: 100%;
}
