// NAVBAR
.navbar {
  min-height: 50px;
  padding: 0;
  ul {
    display: block;
  }
    li {
      display: inline-block;
      .link {
        padding: 0 0.8em;
          &:hover,
          &:focus,
          &:active {
            background: none;
          }
        &.enabled {
          color: @color4;
          border-bottom: 1px solid @color4;
        }
      }
    }
  }
  .nav {
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    background: @color3;
    z-index: 50;
    > i {
      cursor: pointer;
    }
  }

@media (min-width: @screen-md) {
  .navbar {
    margin: 0;
  }
}
@media (max-width: @screen-md) {
  .navbar {
    min-height: 60px;
  }
  .nav {
    > i {
      display: block;
      font-size: 2em;
    }
    ul {
      display: none;
      padding-top: 1em;
      li {
        display: block;
        .link {
          padding: 0.5em;
          border: 0;
          display: inline-block;
          &.enabled {
            border-bottom:0;
          }
        }
      }
    }
  }
}
