/****************** SETUP ********************/

// Main colors
  @color1: #3498db; // Blue
  @color2: #ecf0f1; // Gray
  @color3: #142638; // Dark gray
  @color4: #d4d600; // Yellow

// Origin color set
.color-set1() {
  @color1: #fc0; // Yellow
  @color2: #fff; // White
  @color3: #000; // Black
  @color4: #efefef; // Gray
}
// Custom new color set
.color-set2() {
  @color1: #3498db; // Blue
  @color2: #ecf0f1; // Gray
  @color3: #34495e; // Dark gray
  @color4: #efefef; // Gray
}
// Color Set Blue / Yellow
.color-set3() {
  @color1: #3498db; // Light blue
  @color2: #2c3e50; // Dark blue
  @color3: #fc0; // Yellow
  @color4: #ecf0f1; // Super light gray
}

// Width's
@max-width:         980px; // Maximum content width

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  765px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


.background-page(@color: #fff) {
  background: @color;
}
